server:
  port: 9090

spring:
  datasource:
    url: jdbc:mysql://localhost:3307/2Port1Image?useSSL=false&serverTimezone=UTC
    username: user001
    password: user001
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  main:
    allow-bean-definition-overriding: true